### Test of data instantiation

In [14]:
import torch
import numpy
from torch.utils.data import Dataset, DataLoader 
from torchvision.datasets import ImageFolder
import os, pandas as pd
from PIL import Image

In [ ]:

class ExpDataSet(Dataset):
    def __init__(self, images, labels, transform=None):
        self.images = torch.as_tensor(images)
        self.labels = torch.as_tensor(labels)
        self.transform = transform
        
    def __len__(self):
        return len(self.images)

    def __getitem__(self, idx):
        label = self.labels[idx]
        image = self.images[idx]

        if self.transform: # Add transformation mask to image
            image = self.transform(image)
        
        return image, label
        
img = torch.ones(6, 3)
labels = [0, 1, 1, 1, 0, 0]

dataset = ExpDataSet(img, labels)
print(dataset[4])

(tensor([1., 1., 1.]), tensor(0))

In [29]:
# Local paths

label_path = "dataset/datasets/ringmerkingno/ringcodes.csv"





# Make sure to separate csv file on |
df = pd.read_csv(label_path, sep="|")

df.head()

                           filename  code color
0  LBNW(J22M)_20080310234907_79.jpg  J22M    NW
1  LBNW(J03Y)_20080311094828_79.jpg  J03Y    NW
2  LBBW(JR0T)_20080320193604_79.jpg  JR0T    BW
3  LBBW(J1EM)_20080321135128_79.jpg  J1EM    BW
4  LBBW(JZ3K)_20111027125715_79.jpg  JZ3K    BW

In [33]:

df.sort_values("filename", ascending=True).reset_index(drop=True)
df.head()

                           filename  code color
0  LBNW(J22M)_20080310234907_79.jpg  J22M    NW
1  LBNW(J03Y)_20080311094828_79.jpg  J03Y    NW
2  LBBW(JR0T)_20080320193604_79.jpg  JR0T    BW
3  LBBW(J1EM)_20080321135128_79.jpg  J1EM    BW
4  LBBW(JZ3K)_20111027125715_79.jpg  JZ3K    BW

In [ ]:
image_path = "dataset/datasets/ringmerkingno/images"
exp_x = ...

In [ ]:
exp_loader = ExpDataSet()